@charset="UTF-8";
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');


/* PROGRAMAÇÂO DO BACKGROUND E LETRAS*/
body{
	background-color: orange;
	color: black;
}
/* FIM */
/*CONFIGURAÇÃO DA DIV*/
div#interface{
	width: 900px;
	background-color: white;
	color: black;
	margin: -7px auto -10px auto;
	padding: 10px;
	box-shadow: 0px 0px 10px black;
}
/*CONFIGURAÇÃO DO CABEÇALHO*/
header#cabecalho{
	border-bottom: 1px orange solid;
	height: 160px;
	background:url(../_imagens/logo.png) no-repeat;
}
header#cabecalho h1{
	font-family: 'Crimson Text', serif;
	font-size: 30pt;
	position: absolute;
	left: 330px;
	top: 30px;
}
/*FORMATAÇÃO DOS PARAGRAFOS*/
p#home{
	text-align: justify;
	font-family: 'Crimson Text', serif;
	font-size: 16pt;
	text-indent: 50px;
}
/*FORMATACAO DOS TEXTOS*/
h1#home{
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;

}
h2#home{
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
}
/*FORMATACAO DO RODAPE*/
footer#rodape{
	margin-top: 150px;
	border-top: 1px orange solid;
}
footer#rodape p{
	text-align: center;
	color: center;
	text-transform: uppercase;
}
/*FORMATACAO DO MENU*/
nav#menu{
	display: block;
}
nav#menu a{
	text-decoration: none;
	color: orange;
}
nav#menu{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 100px;
	left: 200px;
}
nav#menu li{

	font-family: 'Russo One', sans-serif;
	display: inline-block;
	background-color: black;
	padding: 10px;
	margin: 2px;
}
nav#menu h1{
	opacity: 0;
}
nav#menu li:hover{
	background-color: white;
	transition: 1s;
}
/* CONFIGURAÇÂO DAS FOTOS NO MENU*/
ul#galeria-inicial{
	list-style: none;
	display: block;
	position: absolute;
	top: 20px;
	left: 550px;

}
ul#galeria-inicial span{
	opacity: 0;
}
ul#galeria-inicial li{
	display: inline-block;
	border: 2px solid black;
	margin: 10px;
	padding: 30px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.6);
	-webkit-transition: 1s;
}

ul#galeria-inicial li#logo01{
	background: url(../_imagens/logo01.png) no-repeat;
	background-size: 100px 75px;
}
ul#galeria-inicial li#logo02{
	background: url(../_imagens/logo02.png) no-repeat;
	background-size: 100px 75px;
}
ul#galeria-inicial li#logo03{
	background: url(../_imagens/logo03.png) no-repeat;
	background-size: 105px 80px;
}
ul#galeria-inicial li#logo04{
	background: url(../_imagens/logo04.png) no-repeat;
	background-size: 105px 80px;
}
ul#galeria-inicial li:hover{
	-webkit-transform: scale(1.5);
}